/***************************/
/*Style page setup*/
/***************************/

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;/*twitter like*/
  font-size: 13px;
  font-weight: 600;
  background-color: #fafafa;
  box-sizing: border-box;
  /*height: 100%;*/
}

a:link {
  color: none;
  text-decoration: none;
}

a:visited {i
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:active {
  color: black;
  text-decoration: none;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #CFCFCF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #CFCFCF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #CFCFCF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #CFCFCF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #CFCFCF;
}

ul {
  list-style-type: none;
}

/***************************/
/*Interface styles*/
/***************************/

#header {
    width:100%;
    height:50px;
    overflow: hidden;
    /*background:red;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.098);
}


#logo{
  width:115px;
  height:50px;
  display:inline-block;
  float:left;
  text-indent: -9999px;
  white-space: nowrap; 
  background: url(../ressources/staper_logo@x1.png) no-repeat scroll center center;
  background-size: 65px 10px;
  cursor:pointer;
  /*background:orange;*/
}

#search{
  width:41%;
  height:50px;
  display:inline-block;
  /*background:blue;*/
  float:left;
}

.search-field{
  background: url(../ressources/search_icon.png) no-repeat scroll 0px 18px;
  background-size: 15px 15px;
  padding-left:25px;
  margin-left: 10px;
  border: none;
  height:100%;
  width: 90%;
  text-transform: uppercase;
  color: #6A6B6B;
  /*background-color: green;*/
}

#newbtn{
  width:100px;
  height:50px;
  display:inline-block;
  /*background:purple;*/
  float:left;
}

.new_game_btn{
  margin-top: 11px;
  float: right;
  display:inline-block;
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 11px;
  width: 100px;
  height: 26px;
  line-height: 26px;
}

a.submit_btn{
  border-radius: 3px;
  text-align: center;
  background-color: #009396;
  color: #FBFBFB;
}

a.submit_btn:hover{
  background-color: #006365;
  transition: .2s ease-in-out;
}

#user{
  width:333px;
  height:50px;
  display:inline-block;
  /*background:pink;*/
  float:right;
}

#account{
  display: inline-block;
  float: right;
  text-align: center;
  width: 210px;
  height: 32px;
  margin-top: 9px;
  border-left: 1px solid rgba(0, 0, 0, 0.098);
  cursor:pointer;
  /*background-color: blue;*/
}

span.first{
  display: inline-block;
  vertical-align: middle;
  color: #66757f;
}

img.profile_pic{
  vertical-align: middle;
  max-width:32px;
  max-height:32px;
  width: auto;
  height: auto;
  padding-left: 15px;
}

#content {
    width:100%;
    height:93%;
    /*background:green;*/
}

#sidemenu {
    width:50px;
    display:inline-block;
    /*background:#E4E4E6;*/
    /*background: rgb(0, 111, 113);*/
    height:100%;
    float:left;
    border-right: 1px solid rgba(0, 0, 0, 0.098);
    transition: .3s ease-in-out;
}

li.sidemenutopentry {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    background: #cce5ff;
    margin-top: 15px;
    text-indent: -9999px;
    cursor:pointer;
}

li.mainentry:hover {
  border-left:4px solid #006365;
  transition: all .2s ease-out;
}

li.scheduled {
  background: url(../ressources/scheduled_entry_default@x1.png) no-repeat scroll center center;
  background-size: 15px 15px;
}

li.scheduled:hover {
  background: url(../ressources/scheduled_entry@x1.png) no-repeat scroll 13px center;
  background-size: 15px 15px;
}

li.history {
  background: url(../ressources/history_entry_default@x1.png) no-repeat scroll center center;
  background-size: 15px 15px;
}

}
li.history:hover {
  background: url(../ressources/history_entry@x1.png) no-repeat scroll 13px center;
  background-size: 15px 15px;
}

li.settings {
  background: url(../ressources/settings_entry_default@x1.png) no-repeat scroll center center;
  background-size: 14px 14px;
}

}
li.settings:hover {
  background: url(../ressources/settings_entry@x1.png) no-repeat scroll 12px center;
  background-size: 14px 14px;
}

li.newgame {
  background: url(../ressources/newgame_entry_default@x1.png) no-repeat scroll center center;
  background-size: 30px 30px;
}

ul#sidemenuexpand{
  position: absolute;
  left:0;
  width: 50px;
  bottom: 0;
  /*border-top: 1px solid #CED6DE;*/
  /*background-color: red;*/
  cursor:pointer;
}

li.sidemenubottomentry {
  box-sizing: border-box;
  height: 45px;
  text-indent: -9999px;
}

li#sidemenubottomentry{
  background: url(../ressources/expand_icon@x1.png) no-repeat scroll center center;
  background-size: 10px 12px;
}

#maincontent {
    width: auto;
    height:100%;
    background:#e6ecf0;
    color: #CED6DE;
    overflow: auto;
}

#listingcontent{
  width: 800px;
  height: auto;
  margin: 20px auto 0 auto;
  color: black;
}

#contenttitlecontainer{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  /*margin-bottom: 20px;*/
  background-color: white;
}

.contenttitle{
  margin-left:20px; 
  font-size: 19px;
}

#contentline{
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  background-color: white;
}

#contentline:hover{
  background-color: #f5f8fa;
  /*cursor:pointer;*/
}

#eventdate{
  float: left;
  height: 90px;
  width: 95px;
  /*background-color: yellow;*/
}

#eventdetails{
  display: inline-block;
  width: 660px;
  height: 90px;
  /*line-height: 90px;*/
  /*background-color: orange;*/
}

#eventdeletioncontainer{
  float: right;
  width: 45px;
  height: 90px;
  line-height: 90px;
}

.month{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #FF3535;
  margin-top: 22px;
}

.date{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.overduedate{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
}

#eventdeletion{
  margin-top: 37.5px;
  height: 15px;
  width: 14px;
  background: url(../ressources/bin_icon@x1.png) no-repeat scroll center left;
  background-size: 14px 15px;
}

#eventdeletion:hover{
  background: url(../ressources/bin_icon_hover@x1.png) no-repeat scroll center left;
  background-size: 14px 15px;
  cursor: pointer;
}

#eventleagueandco{
  width: 100%;
  margin: 23px 0 5px 0;
  /*background-color: yellow;*/
}

#eventteams{
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  /*background-color: purple;*/
}

.laegueinfo{
  font-size: 12px;
  font-weight: 700;
}

.overdue{
  color: #A0A0A2;
}

.journeyinfo{
  font-size: 12px;
  font-weight: 300;
  color: #A0A0A2;
}

.versusteam{
  font-size: 12px;
  margin: 0 16px 0 16px;
}

/***************************/
/*Responsive management*/
/***************************/

/*IPAD PORTRAIT*/
@media screen and (max-width: 768px){

  #listingcontent{
    width: 600px;
    height: auto;
    margin: 10px auto 0 auto;
    background-color: white;
    color: black;
  }

  #eventdetails{
    width: 460px;
  }

}

/***************************/
/*Image management*/
/***************************/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

  #logo{
    background: url(../ressources/staper_logo@x2.png) no-repeat scroll center center;
    background-size: 65px 10px;
  }

  .search-field{
    background: url(../ressources/search_icon.png) no-repeat scroll 0px 18px;
    background-size: 15px 15px;
  }

  li.scheduled {
    background: url(../ressources/scheduled_entry_default@x2.png) no-repeat scroll center center;
    background-size: 15px 15px;
  }

  li.scheduled:hover {
    background: url(../ressources/scheduled_entry@x2.png) no-repeat scroll 13px center;
    background-size: 15px 15px;
  }

  li.history {
    background: url(../ressources/history_entry_default@x2.png) no-repeat scroll center center;
    background-size: 15px 15px;
  }

  }
  li.history:hover {
    background: url(../ressources/history_entry@x2.png) no-repeat scroll 13px center;
    background-size: 15px 15px;
  }

  li.settings {
  background: url(../ressources/settings_entry_default@x2.png) no-repeat scroll center center;
  background-size: 14px 14px;
  }

  li.settings:hover {
    background: url(../ressources/settings_entry@x2.png) no-repeat scroll 13px center;
    background-size: 14px 14px;
  }

  li.newgame {
  background: url(../ressources/newgame_entry_default@x2.png) no-repeat scroll center center;
  background-size: 30px 30px;
  }

  li#sidemenubottomentry{
    background: url(../ressources/expand_icon@x2.png) no-repeat scroll center center;
    background-size: 10px 12px;
  }

  #eventdeletion{
    margin-top: 37.5px;
    height: 15px;
    width: 14px;
    background: url(../ressources/bin_icon@x2.png) no-repeat scroll center left;
    background-size: 14px 15px;
  }

  #eventdeletion:hover{
    background: url(../ressources/bin_icon_hover@x2.png) no-repeat scroll center left;
    background-size: 14px 15px;
  }
      
}