/***************************/
/*Style page setup*/
/***************************/

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;/*twitter like*/
  font-size: 13px;
  font-weight: 600;
  background-color: #fafafa;
  box-sizing: border-box;
  /*height: 100%;*/
}

a:link {
  color: none;
  text-decoration: none;
}

a:visited {i
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:active {
  color: black;
  text-decoration: none;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #CFCFCF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #CFCFCF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #CFCFCF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #CFCFCF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #CFCFCF;
}

ul {
  list-style-type: none;
}

/***************************/
/*Interface styles*/
/***************************/

#header {
    width:100%;
    height:50px;
    overflow: hidden;
    background:white;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.098);*/

}


#logo{
  width:71px;
  height:50px;
  display:inline-block;
  float:left;
  /*background-color:#203E55;*/
  text-indent: -9999px;
  white-space: nowrap;
  background: url(../ressources/staper_logo@x1.png) no-repeat scroll center center;
  background-size: 40px 30px;
  cursor:pointer;
  /*background:orange;*/
}

#search{
  width:41%;
  height:50px;
  display:inline-block;
  /*background:blue;*/
  float:left;
}

.search-field{
  background: url(../ressources/search_icon.png) no-repeat scroll 0px 18px;
  background-size: 15px 15px;
  padding-left:25px;
  margin-left: 20px;
  border: none;
  height:100%;
  width: 90%;
  text-transform: uppercase;
  color: #6A6B6B;
  /*background-color: green;*/
}

#newbtn{
  width:100px;
  height:50px;
  display:inline-block;
  /*background:purple;*/
  float:left;
  margin-top: 11px;
}

.new_game_btn{
  float: right;
  display:inline-block;
  /*text-transform: uppercase;*/
  font-weight: 600;
  font-size: 12px;
  width: 100px;
  height: 26px;
  line-height: 26px;
}

.new_game_validation{
  display:inline-block;
  /*text-transform: uppercase;*/
  font-weight: 600;
  font-size: 12px;
  width: 450px;
  height: 26px;
  line-height: 26px;
}

.option_btn{
  display:inline-block;
  /*text-transform: uppercase;*/
  font-weight: 600;
  font-size: 12px;
  width: 100px;
  height: 26px;
  line-height: 26px;
}

a.delete_btn{
  border-radius: 3px;
  text-align: center;
  background-color: #e6525a;
  border: 1px solid #bb2f33;
  color: #FBFBFB;
}

a.delete_btn:hover{
  background-color: #bb2f33;
  border: 1px solid #bb2f33;
  box-shadow: 0px 0px 6px 0px #E2E2E2;
  transition: .2s ease-in-out;
  cursor: pointer;
}

a.submit_btn{
  border-radius: 3px;
  text-align: center;
  background-color: #1e83dc;
  border: 1px solid #1e83dc;
  color: #FBFBFB;
}

a.submit_btn:hover{
  background-color: #0c64b1;
  border: 1px solid #0c64b1;
  box-shadow: 0px 0px 6px 0px #E2E2E2;
  transition: .2s ease-in-out;
  cursor: pointer;
}

a.cancel_btn{
  border-radius: 3px;
  text-align: center;
  outline-offset: -1px;
  border: 1px solid rgba(0, 0, 0, 0.098);
  background-color: white;
  color: #6A6B6B;
  margin-right: 10px;
}

a.cancel_btn:hover{
  background-color: #E3E3E3;
  transition: .2s ease-in-out;
  cursor: pointer;
}

#user{
  width:333px;
  height:50px;
  display:inline-block;
  /*background:pink;*/
  float:right;
}

#account{
  display: inline-block;
  float: right;
  text-align: center;
  width: 210px;
  height: 32px;
  margin-top: 9px;
  border-left: 1px solid rgba(0, 0, 0, 0.098);
  cursor:pointer;
  /*background-color: blue;*/
}

span.first{
  display: inline-block;
  vertical-align: middle;
  color: #66757f;
}

img.profile_pic{
  vertical-align: middle;
  max-width:32px;
  max-height:32px;
  width: auto;
  height: auto;
  padding-left: 15px;
}

#content {
    width:100%;
    height:93%;
    /*background:green;*/
}

#sidemenu {
    width:70px;
    display:inline-block;
    background-color:#203E55;
    /*background: rgb(0, 111, 113);*/
    height:100%;
    float:left;
    border-right: 1px solid rgba(0, 0, 0, 0.098);
    transition: .3s ease-in-out;
}

li.sidemenutopentry {
    /*box-sizing: border-box;*/
    width: 32.5px;
    height: 32.5px;
    margin: 20px auto;
    /*text-indent: -9999px;*/
    cursor:pointer;
    text-align: center;
}

.leftsidemenutooltip{
  display: inline;
  position: relative;
}
.leftsidemenutooltip:hover:after{
  background-color: #345066;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  /*color: #98ACBD;*/
  color: white;
  content: attr(title);
  margin: -53px 0 0 60px;
  padding: 9px 10px;
  position: absolute;
  z-index: 98;
  width: auto;
}

.leftsidemenutooltip:hover:before{
border: solid;
border-color: transparent #345066;
border-width: 6px 6px 6px 0;
margin: 9.5px 0 0 55px;
content: "";
position: absolute;
z-index: 99;
}

li.mainentry:hover {
  background-color: #345066;
  border-radius: 3px;
  transition: all .2s ease-out;
}

li.scheduled {
  background: url(../ressources/scheduled_entry_default@x1.png) no-repeat scroll center center;
  background-size: 19px 19px;
}

li.history {
  background: url(../ressources/history_entry_default@x1.png) no-repeat scroll center center;
  background-size: 18px 18px;
}

li.settings {
  background: url(../ressources/settings_entry_default@x1.png) no-repeat scroll center center;
  background-size: 16px 16px;
}

li.newgame {
  background: url(../ressources/newgame_entry_default@x1.png) no-repeat scroll center center;
  background-color: #1e83dc;
  border-radius: 3px;
  background-size: 18px 18px;
}

li.newgame:hover {
  background-color: #0c64b1;
}

ul#sidemenuexpand{
  position: absolute;
  left:0;
  width: 60px;
  bottom: 0;
  /*border-top: 1px solid #CED6DE;*/
  /*background-color: red;*/
  cursor:pointer;
}

#maincontent {
    width: auto;
    height:100%;
    background:#f0f4f7;
    color: #CED6DE;
    overflow: auto;
    z-index: 4;
    background: url(../ressources/maincontentbg@x1.png) no-repeat scroll center center;
    background-size: 245px 43px;
}

#listingcontent{
  width: 800px;
  height: auto;
  margin: 20px auto 0 auto;
  color: black;
}

#contenttitlecontainer{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  /*margin-bottom: 20px;*/
  background-color: white;
}

.contenttitle{
  margin-left:20px;
  font-size: 19px;
}

#contentline{
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  background-color: white;
  color: black;
}

#contentline:hover{
  background-color: #f5f8fa;
  cursor:pointer;
}

#eventdate{
  float: left;
  color: black;
  height: 90px;
  width: 95px;
  /*background-color: yellow;*/
}

#eventdetails{
  display: inline-block;
  color: black;
  width: 660px;
  height: 90px;
  /*line-height: 90px;*/
  /*background-color: orange;*/
}

#eventdeletioncontainer{
  float: right;
  width: 45px;
  height: 90px;
  line-height: 90px;
}

.month{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #FF3535;
  margin-top: 22px;
}

.date{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.startsin{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #FF3535;
  margin-top: 25px;
}

.startintime{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}


.overduedate{
  display: inline-block;
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
}

#eventdeletion{
  margin-top: 37.5px;
  height: 15px;
  width: 14px;
  background: url(../ressources/bin_icon@x1.png) no-repeat scroll center left;
  background-size: 14px 15px;
}

#eventdeletion:hover{
  background: url(../ressources/bin_icon_hover@x1.png) no-repeat scroll center left;
  background-size: 14px 15px;
  cursor: pointer;
}

#eventleagueandco{
  width: 100%;
  margin: 23px 0 5px 0;
  /*background-color: yellow;*/
}

#eventteams{
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  /*background-color: purple;*/
}

.leagueinfo{
  font-size: 13px;
  font-weight: 700;
  color: #0c64b1;
}

.overdue{
  color: #A0A0A2;
}

.journeyinfo{
  font-size: 12px;
  font-weight: 300;
  color: #A0A0A2;
}

.versusteam{
  font-size: 12px;
  margin: 0 16px 0 16px;
}

#popinbackground{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  visibility: hidden;
  /*transition: all 0.3s ease-in-out;*/
}

#smallpopin{
  position: absolute;
  width: 400px;
  height: auto;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
  overflow: hidden;
  background-color: #fafafa;
  visibility: hidden;
}

#newgamepopin{
  position: absolute;
  width: 500px;
  height: auto;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -250px;
  overflow: hidden;
  background-color: #fafafa;
  visibility: hidden;
}

#popintitle{
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
  line-height: 50px;
  text-align: center;
  background-color: white;
}

.popintitle{
  font-size: 14px;
  /*color: #1e83dc;*/
}

#popincontent{
  display: inline-block;
  font-weight: 500;
  width: auto;
  height: auto;
  padding: 20px 20px 15px 25px;
}

#popinoptions{
  display: inline-block;
  font-weight: 500;
  width: 100%;
  height: 45px;
  padding-top: 15px;
  text-align: center;
}

#closebtn{
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  margin: -30px 15px 0 0;
  cursor: pointer;
  background: url(../ressources/close_icon@x1.png) no-repeat scroll center center;
  background-size: 10px 10px;
}

#testroundedcorner{
  width: 200px;
  height: 100px;
  margin: 20px auto 0 auto;
  border-radius: 3px;
  background-color: white;
  -moz-box-shadow: 0px 1px 1px 0px #cfcfcf;
  -webkit-box-shadow: 0px 1px 1px 0px #cfcfcf;
  -o-box-shadow: 0px 1px 1px 0px #cfcfcf;
  box-shadow: 0px 1px 1px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=1);
}

/***************************/
/*Responsive management*/
/***************************/

/*IPAD PORTRAIT*/
@media screen and (max-width: 768px){

  #listingcontent{
    width: 600px;
    height: auto;
    margin: 10px auto 0 auto;
    background-color: white;
    color: black;
  }

  #eventdetails{
    width: 460px;
  }

}

/***************************/
/*Image management*/
/***************************/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  #logo{
    background: url(../ressources/staper_logo@x2.png) no-repeat scroll center center;
    background-size: 40px 30px;
    background-color:#203E55;
  }

  .search-field{
    background: url(../ressources/search_icon.png) no-repeat scroll 0px 18px;
    background-size: 15px 15px;
  }

  li.scheduled {
    background: url(../ressources/scheduled_entry_default@x2.png) no-repeat scroll center center;
    background-size: 19px 19px;
  }

  li.history {
    background: url(../ressources/history_entry_default@x2.png) no-repeat scroll center center;
    background-size: 18px 18px;
  }

  li.settings {
  background: url(../ressources/settings_entry_default@x2.png) no-repeat scroll center center;
  background-size: 16px 16px;
  }

  li.newgame {
  background: url(../ressources/newgame_entry_default@x2.png) no-repeat scroll center center;
  border-radius: 3px;
  background-color: #1e83dc;
  background-size: 18px 18px;
  }

  #maincontent {
      background: url(../ressources/maincontentbg@x2.png) no-repeat scroll center center;
      background-size: 245px 43px;
  }

  #eventdeletion{
    margin-top: 37.5px;
    height: 15px;
    width: 14px;
    background: url(../ressources/bin_icon@x2.png) no-repeat scroll center left;
    background-size: 14px 15px;
  }

  #eventdeletion:hover{
    background: url(../ressources/bin_icon_hover@x2.png) no-repeat scroll center left;
    background-size: 14px 15px;
  }

  #closebtn{
  background: url(../ressources/close_icon@x2.png) no-repeat scroll center center;
  background-size: 10px 10px;
}

}
