#recordheader{
  width: 100%;
  height: 50px;
  background: url(../ressources/airscouticonrecord@x1.png) #203E55 no-repeat scroll center center;
  background-size: 33px 23px;
}

#quitrecordbtn{
  float: right;
  margin: 14px 15px 0 0;
  width: 16px;
  height: 20px;
  background: url(../ressources/exiticon@x1.png) no-repeat scroll center center;
  background-size: 16px 20px;
}

#recordcontent{
  width: auto;
  height: auto;
  margin: 30px 40px 30px 40px;
  /*background-color: red;*/
}

#gameinfocontainer{
  /*position: relative;*/
  width: 761px;
  height: 44px;
  margin: 38px 0 0 30px;
  /*background-color: green;*/
}

#fieldmaindiv{
  width: 800px;
  height: 540px;
  float: left;
  bottom: 0;
  background-color: #62A341;
}

#fielddiv{
  width: 669px;
  height: 408px;
  margin: 55px auto;
  background: url(../ressources/fieldbackground@x1.png) no-repeat scroll center center;
  background-size: 677px 416px;
}

#hometeamname{
  display: inline-block;
  float: left;
  width: 225px;
  height: 38px;
  background-color: #314655;
  font-size: 15;
  line-height: 38px;
  padding-right: 15px;
  color: white;
  text-align: right;
}

#hometeamscore{
  display: inline-block;
  float: left;
  width: 60;
  height: 38px;
  font-size: 25;
  line-height: 38px;
  background-color: #24333E;
  color: white;
  text-align: center;
}

#awayteamscore{
  display: inline-block;
  float: left;
  width: 60;
  font-size: 25;
  line-height: 38px;
  height: 38px;
  background-color: #A93B06;
  color: white;
  text-align: center;
}

#awayteamname{
  display: inline-block;
  float: left;
  width: 225px;
  padding-left: 15px;
  line-height: 38px;
  font-size: 15;
  height: 38px;
  background-color: #D4550B;
  color: white;
  text-align: left;
}

#halfandtime{
  display: inline-block;
  float: left;
  width: 160px;
  height: 36px;
  line-height: 36px;
  background-color: white;
  border-top: 1px solid #E1E6EB;
  border-right: 1px solid #E1E6EB;
  border-bottom: 1px solid #E1E6EB;
}

#half{
  display: inline;
  float: left;
  width: 80px;
  text-align: center;
}

#time{
  display: inline;
  float: right;
  color: #879099;
  font-size: 18;
  width: 80px;
  text-align: center;
}

#homeindicator{
  display: none;
  margin-left: 5px;
}

#awayindicator{
  display: none;
  margin-left: 300px;
}

.indicator{
  float: left;
  background-color: #F0F449;
  width: 295px;
  height: 6px;
}

#mainmaxdiv{
  width: 100%;
  height: auto;
  margin: 0 auto;
  /*background-color: yellow;*/
}

#upperhoridiv{
  /*background-color: purple;*/
  height: 80px;
}

#eventtypediv {
  position: relative;
    overflow: hidden;
    height: 540px;
    text-align: right;
    /*background-color: pink;*/
}

#eventtypemain{
  /*width: 100%;*/
  margin: 0 40px 10px 40px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #E1E6EB;
  font-size: 15px;
}

#eventtypehomenumber{
  position: relative;
  float: left;
  height: 45px;
  width: 25%;
  font-size: 22px;
  text-align: right;
  line-height: 45px;
  color: #25475F;
  /*background-color: blue;*/
}

#eventtypedesc{
  position: relative;
  float: left;
  height: 45px;
  width: 50%;
  text-align: center;
  line-height: 45px;
  /*background-color: yellow;*/
}

#eventtypeawaynumber{
  position: relative;
  float: right;
  height: 45px;
  width: 25%;
  font-size: 22px;
  text-align: left;
  line-height: 45px;
  color: #25475F;
  /*background-color: red;*/
}

#poweredby{
  position: absolute;
  width: 100%;
  color: #ACB6BF;
  font-size: 10px;
  text-align: center;
  margin: 0 auto 10px auto;
  bottom: 0;
}

.lightfont{
  font-weight: 300;
}

.rightsidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: purple; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.15s; /* 0.5 second transition effect to slide in the sidenav */
}

@media screen and (min-width: 1279px){

  #mainmaxdiv{
    width: 1280px;
    margin: 0 auto;
    /*background-color: green;*/
  }

}

@media screen and (max-width: 999px){

  #fieldmaindiv {
      width: 100%;
      background-color: orange;
  }

  #eventtypediv {
      display: inline-block;
      width: 100%;
      margin-left: 0px;
  }

  #gameinfocontainer{
    width: 761px;
    height: 44px;
    margin: 38px auto;
    /*background-color: green;*/
  }

}


/***************************/
/*Image management*/
/***************************/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  #recordheader{
    background: url(../ressources/airscouticonrecord@x2.png) #203E55 no-repeat scroll center center;
    background-size: 33px 23px;
  }

  #quitrecordbtn{
    background: url(../ressources/exiticon@x2.png) no-repeat scroll center center;
    background-size: 16px 20px;
  }

  #fielddiv{
    background: url(../ressources/fieldbackground@x2.png) no-repeat scroll center center;
    background-size: cover;
  }


}
